@model IEnumerable<ShoesStore.Models.Comanda>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/home.css" />

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Judet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Produs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Judet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Produs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_User)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Comanda">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Comanda">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Comanda">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
